:host {
  overflow-y: auto;

  mat-card {
    // mat-card-header {
    //   display: flex;
    //   flex-flow: column nowrap;
    //   justify-content: center;
    //   align-items: center;
    //   align-content: center;
    //   margin-bottom: 10px;
    // }
    // mat-card-content {
    //   display: flex;
    //   justify-content: space-between;
    //   align-content: stretch;
    //   align-items: center;
    // }

    mat-card-actions {
      display: flex;
      justify-content: center;
    }

    mat-card-content {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;

      mat-form-field {
        max-width: 50%;
      }
    }
  }

  // @media screen and (min-width: 640px) {
  //   mat-card {
  //     mat-card-content {
  //       grid-template-columns: 1fr 2fr;
  //       place-content: center;
  //       place-items: start;
  //     }
  //   }
  // }
}
