:host {
  mat-card {
    img {
      border-radius: 0.4rem;
      width: 268px;
      height: 268px;
    }

    .mat-card-image {
      margin: 0 0 1rem 0;
    }

    mat-card-header {
      justify-content: center;
    }
  }
}
