:host {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;

  mat-card {
    box-sizing: border-box;
    font-size: 0.8rem;
    font-weight: 300;
    min-width: 300px;
    max-width: 500px;

    mat-card-content {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0.5rem 0;
    }

    mat-card-actions {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .pointer {
    cursor: pointer;
  }
}
