:host {
  background-color: #f2f2f2;
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 64px);
  padding: 1rem;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "list form";
  gap: 1rem;
  place-content: start;
  place-items: start;

  app-list {
    grid-area: list;
  }

  app-form {
    grid-area: form;
  }

  @media screen and (max-width: 600px) {
    min-width: 300px;
    height: calc(100% - 56px);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "form"
      "list";
  }
}
